<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{>header}}

    {{{body}}}

    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>