<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand ml-2' href='/'>f8-blog</a>
        <div class='dropdown'>
            <a
                class='text-decoration-none dropdown-toggle text-white'
                href='#'
                id='navbarDarkDropdownMenuLink'
                role='button'
                data-bs-toggle='dropdown'
                aria-expanded='false'
            >
                <img
                    src='/img/f8.png'
                    style='width: 30px; height: 30px'
                    class='rounded-circle'
                    alt='f8'
                />
                Trung Phi
            </a>
            <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                <li><a class='dropdown-item' href='#'>Action</a></li>
                <li><a class='dropdown-item' href='#'>Another action</a></li>
                <li><a class='dropdown-item' href='#'>Something else here</a></li>
            </ul>
        </div>
    </div>
</nav>